# All folders except
/*/
!/src/
!/src_files/

# python specific subfolders
/*/__pycache__

# GAMS specific
*.gdx
*.gpr
*.gsp
*.lst
*.lxi
*.tmp
*.put
*.log*
*.gchf
*.lic
/*/*.lic

# Temporary files 
*.~*
*~$*
*.tmp*
/*/*.~*
/*/*~$*
/*/*.tmp


# kde directory files
.directory
.vscode
*.code-workspace

#temporary files
*~lock*

# certain large input files instructed for separate download
inputfiles/timeseries/elec_2030_National_Trends.xlsx
inputfiles/timeseries/elec_2040_National_Trends.xlsx
inputfiles/timeseries/PECD-MAF2019-wide-PV.csv
inputfiles/timeseries/PECD-MAF2019-wide-WindOffshore.csv
inputfiles/timeseries/PECD-MAF2019-wide-WindOnshore.csv
src_files/timeseries/elec_2030_National_Trends.xlsx
src_files/timeseries/elec_2040_National_Trends.xlsx
src_files/timeseries/PECD-MAF2019-wide-PV.csv
src_files/timeseries/PECD-MAF2019-wide-WindOffshore.csv
src_files/timeseries/PECD-MAF2019-wide-WindOnshore.csv