# All folders except
/*/
!/GAMS_files/
!/input/
!/inputFiles/
!/manual_additions/
!/output/
!/src/

# python specific subfolders
/*/__pycache__

# GAMS specific
*.gdx
*.gpr
*.gsp
*.lst
*.lxi
*.~*
*.tmp
*.put
*.log*
*.gchf
*.lic

# GAMS specific in subfolders
/*/*.~*
/*/*.tmp
/*/*.lic

# kde directory files
.directory
.vscode

#temporary files
*~lock*

# certain large input files instructed for separate download
inputfiles/timeseries/elec_2030_National_Trends.xlsx
inputfiles/timeseries/elec_2040_National_Trends.xlsx
inputfiles/timeseries/PECD-MAF2019-wide-PV.csv
inputfiles/timeseries/PECD-MAF2019-wide-WindOffshore.csv
inputfiles/timeseries/PECD-MAF2019-wide-WindOnshore.csv